body{
    font-family: sans-serif;
    margin: 0;
    /* height: 100%; */
    /* width: 100%; */
    padding: 0;
}

/* backgroung for introduction */

.intro{
    background-image: url("./images/bgpizza.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

 a:hover {
    background-color: yellow;
  }

.link{
   font-weight: bold;
    color: rgb(238, 142, 17);
    text-decoration: none;
    /* padding: 5px; */
    border-radius: 5px;
    margin: 10px;
}

.our-name{
    color: white;
    text-align: right; 
    padding-right: 300px;
   
}

.name{
  font-size: 100px;
  font-family: 'Inspiration', cursive;
}

.pizza{
    font-style: italic;
    text-shadow: 4px 4px white;
    font-size: 150px;
    color: red;
    font-family: 'Inspiration', cursive;
    font-weight: bold;
}

h4{
    margin-top: 30px;
}

.links{
    text-align: right;
    padding: 10px;
}


.dishes{
    text-align: center;
    padding-top: 120px;
}
.menus1 img{
    height: 50%;
    /* padding: -20px; */
}
.border{
    border: 2px solid rgb(12, 8, 8);
    border-radius: 30px;
    
    background-color: rgb(241, 243, 233);
}

h5{
    background-color: red;
    width: fit-content;
    text-align: center;
    margin: 10px;
    padding: 5px;
    color: white;
    border-radius: 30px;
}